<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Online Tools for the Weary</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/breakpoints.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/browser.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/util.js' %}" type="text/javascript" charset="utf-8"></script>



</head>
<body class="is-preload homepage">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href={% url 'home' %}>The I Don't Know Website</a></h1>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="{% url 'home' %}">Welcome</a></li>
                    <!--
                    <li>
                        <a class="dropotron" href="#">Dropdown</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li>
                                <a href="#">Phasellus consequat</a>
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Phasellus consequat</a></li>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam dolore nisl</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    -->
                    <li class="current"><a href="{% url 'tools' %}">Tools</a></li>
                    <li class="current"><a href="{% url 'calculators' %}">Calculators</a></li>
                    <li class="current"><a href="{% url 'tools' %}">No Sidebar</a></li>
                </ul>
            </nav>

        </header>
    </div>

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Contact -->
                    <section class="widget contact last">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a>
                            </li>
                        </ul>
                        <p>1234 Fictional Road<br/>
                            Nashville, TN 00000<br/>
                            (800) 555-0000</p>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>Press Industries LLC</li>
                            <li>All rights reserved</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>